---
swagger: "2.0"
info:
  description: "This is a sample digimat server Petstore server.  You can find out more about\
    \ Swagger at [http://swagger.io](http://swagger.io) or on [irc.freenode.net, #swagger](http://swagger.io/irc/).\
    \  For this sample, you can use the api key `special-key` to test the authorization\
    \ filters."
  version: "1.0.5"
  title: "Swagger Digimat"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "apiteam@swagger.io"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "digimat-interactive.com"
basePath: "/"
tags:
- name: "Splash"
  description: "Imagen inicial"
- name: "Login"
  description: "Acceso a la aplicación"
- name: "Zonas"
  description: "Obtiene las zonas registradas"  
#- name: "pet"
#  description: "Everything about your Pets"
#  externalDocs:
#    description: "Find out more"
#    url: "http://swagger.io"
#- name: "store"
#  description: "Access to Petstore orders"
#- name: "user"
#  description: "Operations about user"
#  externalDocs:
#    description: "Find out more about our store"
#    url: "http://swagger.io"
schemes:
#- "https"
- "http"
paths:
  /f0Splash:
     post:
      tags:
      - "Splash"
      summary: "Configuracion de Splash"
      description: "Endpoint para configuracion de pantalla de inicio"
      operationId: "splashGet"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "solicitud de splash"
        required: true
        schema: 
          type: "object"
          properties:
            appId:
              type: "integer"
              example: 100
      responses:
        200:
          description: "Successful login"
          schema:
            type: "object"
            properties:
              resconseCode:
                type: "integer"
                example: 105
              message:
                type: "string"
                example: "succes"
              data:
                type: "object"
                properties:
                  backgroundColor:
                    type: "string"
                    example: "#FF0000"
                  backgroundImage:
                    type: "string"
                    example: "https://digimatweb.github.io/img/logo.png"
                  logo:
                    type: "string"
                    example: "logo1"
                  mVehicleType:
                    type: "string"
                    example: "1"
        405:
          description: "Invalid input"
          schema:
            type: "object"         
  /f3login.php:
     post:
      tags:
      - "Login"
      summary: "Accede a la app"
      description: "Endpoint for logging into the application"
      operationId: "loginUser"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "User login credentials"
        required: true
        schema:
          type: "object"
          properties:
            email:
              type: "string"
              example: "user@example.com"
            password:
              type: "string"
              example: "password123"
        headers:
            Access-Control-Allow-Headers:
              type: string
              example: "Content-Type, Authorization"
            Access-Control-Allow-Methods:
              type: string
              example: "GET, POST, PUT, DELETE, OPTIONS"
      responses:
        200:
          description: "Successful login"
          schema:
            type: "object"
            properties:
              resconseCode:
                type: "integer"
                example: 200
              message:
                type: "string"
                example: "succes"
              data:
                type: "object"
                properties:
                  name:
                    type: "string"
                    example: "Name"
                  email:
                    type: "string"
                    example: "test@mail.com"
                  token:
                    type: "string"
                    example: "aaaaaaaaaaaa"
        405:
          description: "Invalid input"
          schema:
            type: "object"
  /getZones.php:
      post:
        tags:
        - "Zonas"
        summary: "Obtiene las zonas registradas"
        description: "Endpoint for getAllZones"
        operationId: "zones"
        consumes: 
        - "application/json"
        produces:
        - "application/json"
        parameters:
        - in: "body"
          name: "body"
          description: "Zones list"
          required: true
          schema:
            type: "object"
            properties:
              token:
                type: "string"
                example: "XXXXXXXXX"
          headers:
              Access-Control-Allow-Headers:
                type: string
                example: "Content-Type, Authorization"
              Access-Control-Allow-Methods:
                type: string
                example: "GET, POST, PUT, DELETE, OPTIONS"
        responses:
              200:
                description: "Successful login"
                schema:
                  type: "object"
                  properties:
                    resconseCode:
                      type: "integer"
                      example: 105
                    message:
                      type: "string"
                      example: "succes"
                    data:
                      type: "array"
                      items:
                        type: "object"
                        properties:
                          zoneId:
                            type: "string"
                            example: "1"
                          zoneName:
                            type: "string"
                            example: "zonaName"
                          ratio:
                            type: "string"
                            example: "1"
                          dots:
                            type: "array"
                            items:
                              type: "object"
                              properties:
                                Latitud:
                                  type: "string"
                                  example: "0"
                                Longitud:
                                  type: "string"
                                  example: "0"
              405:
                description: "Invalid input"
                schema:
                  type: "object"              
 
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"
