---
openapi: "3.0.0"
info:
  description: "This is a sample server. You can find out more about Swagger at [http://swagger.io](http://swagger.io)."
  version: "1.0.0"
  title: "Sample API"
servers:
  - url: "http://sample.api.com/v1"
tags:
  - name: "user"
    description: "Operations about user"
    externalDocs:
      description: "Find out more about our store"
      url: "http://swagger.io"
  - name: "splash"
    description: "Operations related to splash"
    externalDocs:
      description: "Find out more about splash"
      url: "http://digimat-interactive.com/f0Splash.php"
paths:
  /splash:
    post:
      tags:
        - "splash"
      summary: "Request for splash"
      description: "Requests for a splash with provided token"
      operationId: "requestSplash"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              properties:
                token:
                  type: "integer"
                  description: "Token value"
      responses:
        '200':
          description: "successful operation"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  success:
                    type: "boolean"
                  message:
                    type: "string"
components:
  securitySchemes:
    api_key:
      type: "apiKey"
      name: "api_key"
      in: "header"
    oauth2:
      type: "oauth2"
      flows:
        implicit:
          authorizationUrl: "https://example.com/oauth/authorize"
          scopes:
            read: "Read access"
            write: "Write access"