---
swagger: "2.0"
info:
  description: "This is a sample server. You can find out more about Swagger at [http://swagger.io](http://swagger.io)."
  version: "1.0.0"
  title: "Sample API"
host: "sample.api.com"
basePath: "/v1"
tags:
  - name: "user"
    description: "Operations about user"
    externalDocs:
      description: "Find out more about our store"
      url: "http://swagger.io"
  - name: "splash"
    description: "Operations related to splash"
    externalDocs:
      description: "Find out more about splash"
      url: "http://digimat-interactive.com/f0Splash.php"
schemes:
  - "http"
paths:
  /splash:
    post:
      tags:
        - "splash"
      summary: "Request for splash"
      description: "Requests for a splash with provided token"
      operationId: "requestSplash"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "Token for splash request"
          required: true
          schema:
            type: "object"
            properties:
              token:
                type: "integer"
                description: "Token value"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "object"
            properties:
              success:
                type: "boolean"
              message:
                type: "string"
securityDefinitions:
  api_key:
    type: "apiKey"
    name: "api_key"
    in: "header"
  oauth2:
    type: "oauth2"
    authorizationUrl: "https://example.com/oauth/authorize"
    flow: "implicit"
    scopes:
      read: "Read access"
      write: "Write access" 